@import url('../../shared/assets/globals.css');

#home #btn-add-post,
#btn-go-up {
  width: 90px;
  height: 90px;

  border-radius: 50%;
  border: none;
}

#btn-add-post {
  background-color: #ff8d00;
  position: fixed;
  bottom: 30px;
  left: 30px;
  cursor: pointer;
}
#btn-add-post:hover{
  background-color: #e27c00 ;
}

#btn-go-up {
  background-color: #cf4b2e;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}
#btn-go-up:hover{
  background-color: #b23f25;
}

#home .icon {
  width: 50%;
}
