@import url(../../assets/globals.css);

.icon-size{
    width: 25px;
    height: 25px;
    color: #D77937;
}

#cardContainer{
    background-color: #EB853D;
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.466);
}

.curser-pointer-card{
    cursor: pointer;
}

.userImgCard{
    width: 50px;
    height: 50px;
    border-radius: 50%;
   
}
.imgCard{
   max-width: 400px;
    border-radius: 1rem;
    width: auto;
   
}
.color-white{
    
    color: #EAEAEA;
   
    
}
.card-container-categories{

    background-color: var(--main-red-secondary);
    border-radius: 30px;
}
.cardContainerContent{
    display: flex;
    flex-direction: row;

}
.containerContentInfo{
    
    background-color: #D77937;
    border-radius: 1rem;
    color: #EAEAEA;
    font-size: 16px;
    font-style: italic;
    height: 77%;

}
.userInfo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #EAEAEA;
    font-size: 20px;
    font-style: italic;
}
.comments{
    
    background-color: #ffffff;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.466);
    border-radius: 30px;
}
.inp{
    margin: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    text-align: center;
    background-color: #EAEAEA;
    outline: none;
}

.commentBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF8D00  ;
    color: #EAEAEA;
    margin: 15px;
    border-radius: 10px;
}
