.formularioLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 350px;
    border-radius: 15px;
    background-color: #d9d9d9;
    margin: 10px 100px;
    border: 2px solid transparent;
    padding: 50px;
    position: relative;
    top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.377);
}
.imgLogin{
    margin-top: 100px;
}
.container2{
    display: flex;
    justify-content:center;

}
.tituloLogin {

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    color: #ff8d00;
    text-align: center;
    position: relative;
    margin-bottom: 40px;

}

.botonLogin {
    border-radius: 15px;
    margin-bottom: 25px;
    height: 40px;
    width: 150px;
    color: white;
    background-color: #ff8d00;
    font-size: 20px;
    border: 2px solid transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.campoFormularioLogin {

    padding: 10px;
    width: 300px;
}
.registertext{

    display: inline-flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.registerScreen{

    color: #ff8d00;
    margin-top: 15px;
}
.formImput{
    text-align: center;
    outline: none;
}