
@import url('../../shared/assets/globals.css');

/*
CSS por ahora solo tiene el background-color del mismo
*/
#header-component {
  justify-content: center;
  display: flex;
  position: sticky;
}

#icons-container {
  background-color: var(--main-orange-primary);
  list-style: none;
  width: 50%;
  height: 50%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 10px;
  border-radius: 50px;
}
