@import url('../../shared/assets/globals.css');

/*
CSS por ahora solo tiene el background-color del mismo
*/
#header-component {
	justify-content: center;
	display: flex;
	position: sticky;
}

#icons-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	place-items: center;

	width: 600px;
	height: 50px;

	padding: 0;

	background-color: var(--main-orange-primary);

	border-radius: 50px;
	list-style: none;
}

@media screen and (max-width: 1200px) {
	#icons-container {
		width: 400px;
	}
}

#all-icons {
	background-color: transparent;
	border: none;
}
