/* REPLY */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;900&display=swap');



#button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: #FF8D00  ;
    color: #EAEAEA;
    margin: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.201);
    text-decoration: none;
}


.fontLandingO{
    color: #FF8D00;
    font-size: 128px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    margin-right: 30px;
    margin-left: 30px;
}
.fontLandingN{
    color: black;
    font-size: 96px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    
}
