/*colores principales*/
:root{
    
    --main-white:#EAEAEA;
    --main-orange-ligth:#EBC886;
    --main-orange-primary:#FF8D00;
    --main-orange-secondary:#EB853D;
    --main-red:#CF4B2E;
    --main-gray:#D9D9D9;

}
