/*colores principales*/
:root {
  --main-white: #eaeaea;
  --main-orange-ligth: #ebc886;
  --main-orange-primary: #ff8d00;
  --main-orange-secondary: #eb853d;
  --main-red: #cf4b2e;
  --main-red-secondary: #ff4800;
  --main-gray: #d9d9d9;
}
